/* --------------------особенности------------------ */

.feature__page {
	padding-bottom: 0;
}
.feature__container {
	display: flex;
	gap: 30px;
}

.feature__item {
	width: 270px;
	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 120px;
		background-color: rgba(245, 244, 250, 1);
		margin-bottom: 30px;
		border-radius: 4px;
	}

	&__title {
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 14px;
		line-height: 1.71;
		width: 270px;
	}
}
