/* --------------------header--------------------- */

.header {
	margin-bottom: auto;
	margin-top: auto;
	border-bottom: 1px solid #ececec;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	@include tab {
		padding-top: 21px;
		padding-bottom: 21px;
	}
	@include desk {
		padding-top: 24px;
		padding-bottom: 25px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.menu {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	@media screen and (max-width: 767px) {
		display: none;
	}

	&.is-open {
		@media screen and (max-width: 767px) {
			position: fixed;
			width: 100%;
			max-width: 480px;
			height: 100vh;
			top: 0;
			left: 50%;
			transform: translate(-50%);
			max-height: 796px;
			z-index: 2;
			display: flex;
			flex-wrap: wrap;
			outline: 2px solid green;
			background-color: var(--second-text-color);
			padding: 48px 40px;
			transition: transform var(--transition-effect);
		}
		@media screen and (max-width: 350px) {
			padding: 20px 15px;
		}
	}
}
.btn-menu {
	display: block;
	border: none;
	background-color: transparent;
	padding: 12px 8px;
	transition: fill var(--transition-effect);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
	@include tab {
		display: none;
	}
}
.btn-menu--close {
	position: absolute;
	top: 10px;
	right: 15px;
}

.nav__link,
.auth__link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.nav {
	display: flex;
	gap: 50px;
	align-items: center;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		gap: 32px;
		align-items: flex-start;
	}

	&__link {
		color: var(--title-text-color);
		@media screen and (max-width: 767px) {
			font-size: 40px;
			line-height: 1.18;
		}
	}
}
.auth {
	// margin-left: auto;
	gap: 30px;
	@include tab {
		margin-left: auto;
	}

	&__item {
		background-position: center;
		background-size: contain;
	}

	&__link {
		color: currentColor;
		display: flex;
		align-items: center;
		&-tel {
			@media screen and (max-width: 767px) {
				font-size: 34px;
				line-height: 1.18;
				color: var(--accent-color);
			}
		}
	}

	@media screen and (max-width: 767px) {
		font-size: 24px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		display: flex;
		flex-direction: column-reverse;
		gap: 32px;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		font-size: 12px;
		line-height: 1.17;
	}
	@include desk {
		display: flex;
	}
}

.header__contacts-icon {
	margin-right: 10px;
	fill: currentColor;
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.current-page {
	position: relative;
	color: var(--accent-color);
}
.current-page::after {
	content: "";
	position: absolute;
	left: 0;
	border-radius: 2px;
	background-color: var(--accent-color);
	width: 100%;
	height: 4px;
	top: 47px;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.menu__soc {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	@include tab {
		display: none;
	}
	&-link {
		color: var(--accent-color);
		font-weight: 500;
		border-right: 1px solid rgba(33, 33, 33, 0.2);
		padding-right: 10px;
		padding-left: 10px;
		line-height: 1.22;
		letter-spacing: 0.02em;
		text-decoration: none;
		@include mob {
			font-size: 18px;
		}
	}
	&-link--first {
		padding-left: 0;
	}
	&-link--last {
		border: none;
		padding-right: 0;
	}
}
