/* ----------------------Hero--------------------- */
.hero {
	max-width: 1600px;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/Header-bg-mob.jpg);
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/Header-bg-mob-2x.jpg);
	}

	@include tab {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/Header-bg-tab.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/Header-bg-tab-2x.jpg);
		}
	}

	@include desk {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/Header-bg.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/Header-bg-2x.jpg);
		}
	}
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-color: #2f303a;
	text-align: center;
	padding-bottom: 0;
	padding-top: 0;
	margin-left: auto;
	margin-right: auto;

	&__container {
		padding-top: 118px;
		padding-bottom: 118px;

		@include desk {
			padding-top: 200px;
			padding-bottom: 200px;
		}
	}
	&__title {
		color: var(--second-text-color);
		text-transform: uppercase;
		font-weight: 900;
		font-size: 21px;
		line-height: 1.5;
		letter-spacing: 0.06em;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		@include mob {
			font-size: 26px;
			line-height: 1.62;
		}
		@include desk {
			font-size: 44px;
			line-height: 1.36;
		}
	}
	/* button */

	&__button {
		color: var(--second-text-color);
		background-color: var(--accent-color);
		cursor: pointer;
		font-family: inherit;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		border-radius: 4px;
		padding: 10px 24px;
		max-width: 201px;
		border: none;
		transition: color var(--transition-effect), background-color var(--transition-effect);
		@include desk {
			max-width: 216px;
			padding: 10px 32px;
		}
	}

	&__button:hover,
	&__button:focus {
		background-color: #188ce8;
	}
}
