/* ----------------------Hero--------------------- */
.hero {
	height: 600px;
	max-width: 1600px;
	background-color: #2f303a;
	text-align: center;
	padding-bottom: 0;
	padding-top: 0;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top;

	&__container {
		padding-top: 118px;
		padding-bottom: 118px;
	}

	&__title {
		color: var(--second-text-color);
		text-transform: uppercase;
		font-weight: 900;
		font-size: 26px;
		line-height: 1.62;
		letter-spacing: 0.06em;
		margin-bottom: 30px;
		max-width: 696px;
		margin-left: auto;
		margin-right: auto;
	}
	/* button */

	&__button {
		color: var(--second-text-color);
		background-color: var(--accent-color);
		cursor: pointer;
		font-family: inherit;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		border-radius: 4px;
		padding: 10px 32px;
		min-width: 200px;
		border: none;
		transition: color var(--transition-effect), background-color var(--transition-effect);
	}

	&__button:hover,
	&__button:focus {
		background-color: #188ce8;
	}
}
