/* --------------------MODAL-WINDOW------------------ */
.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	transition: opacity var(--transition-effect), visibility var(--transition-effect);
}

.modal-window {
	position: absolute;
	width: 528px;
	min-height: 581px;
	background-color: #ffffff;
	border-radius: 4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--transition-effect);
	padding: 40px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal-window {
	transform: translate(-50%, -50%) scale(0);
}

.modal__btn-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: transparent;
	transition: background-color var(--transition-effect), fill var(--transition-effect);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: rgba(33, 33, 33, 1);
	letter-spacing: 0.03em;
	margin-bottom: 12px;
}
.form-box {
	margin-bottom: 10px;

	&__label {
		display: block;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		margin-bottom: 4px;
	}

	&__thumb {
		position: relative;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		transition: fill var(--transition-effect);
	}

	&__field {
		width: 100%;
		height: 40px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		cursor: pointer;
		transition: border var(--transition-effect);
		padding: 12px 0 12px 42px;
	}

	&__comment {
		margin-bottom: 20px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		height: 120px;
		resize: none;
		width: 100%;
		padding: 12px 16px;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		cursor: pointer;
		transition: border var(--transition-effect);
	}

	&__comment::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}

	&__field:hover,
	&__field:focus,
	&__comment:hover,
	&__comment:focus {
		border: 1px solid var(--accent-color);
	}
	&__field:focus + .form-box__icon {
		fill: var(--accent-color);
	}
}
input,
textarea {
	outline: transparent;
}

.agreement {
	&__label {
		line-height: 1.71;
		letter-spacing: 0.03em;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}

	&__policy {
		color: var(--accent-color);
	}

	&__icon {
		height: 15px;
		width: 16px;
		border-radius: 2px;
		background-color: transparent;
		border: 2px solid #212121;
		fill: transparent;
		margin-right: 7px;
		display: flex;
		transition: background-color var(--transition-effect), border var(--transition-effect);
	}

	&__input:checked + .agreement__label .agreement__icon {
		background-color: var(--accent-color);
		border: none;
	}
}
.modal__btn-submit {
	padding: 10px 52px;
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: #ffffff;
	border: none;
	width: 200px;
	height: 50px;
	cursor: pointer;
	transition: background-color var(--transition-effect);

	&:hover,
	&:focus {
		background-color: #188ce8;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}
